In [102]:
import pandas as pd 

file_path = 'test.xlsx'
df = pd.read_excel(file_path)

print(df.head())

   Unnamed: 0  Category  COl1 COL2      meas  202304  202305  202306  202307  \
0         NaN    BUNDLE   NaN  NaN       NaN     NaN     NaN     NaN     NaN
1         NaN  bundle 1   NaN  NaN  big test     2.0     2.0     2.0     2.0
2         NaN       NaN  Test    $      fadd     3.0     3.0     3.0     3.0
3         NaN       NaN  Test    $      gdag     4.0     4.0     4.0     4.0
4         NaN       NaN   NaN  NaN      test     5.0     5.0     5.0     5.0

   202308  202309  202310  202311  202312  202401  202402  202403  202404
0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
2     3.0     3.0     3.0     3.0     3.0     3.0     3.0     3.0     3.0
3     4.0     4.0     4.0     4.0     4.0     4.0     4.0     4.0     4.0
4     5.0     5.0     5.0     5.0     5.0     5.0     5.0     5.0     5.0

In [103]:
df = df.drop(df.columns[0], axis=1)

print(df)

     Category  COl1 COL2      meas  202304  202305  202306  202307  202308  \
0      BUNDLE   NaN  NaN       NaN     NaN     NaN     NaN     NaN     NaN
1    bundle 1   NaN  NaN  big test     2.0     2.0     2.0     2.0     2.0
2         NaN  Test    $      fadd     3.0     3.0     3.0     3.0     3.0
3         NaN  Test    $      gdag     4.0     4.0     4.0     4.0     4.0
4         NaN   NaN  NaN      test     5.0     5.0     5.0     5.0     5.0
..        ...   ...  ...       ...     ...     ...     ...     ...     ...
126       NaN   NaN  NaN    eateag     4.0     4.0     4.0     4.0     4.0
127       NaN   NaN  NaN    teagea     5.0     5.0     5.0     5.0     5.0
128       NaN   NaN  NaN     tetea     3.0     3.0     3.0     3.0     3.0
129       NaN   NaN  NaN    teatea     2.0     2.0     2.0     2.0     2.0
130       NaN   NaN  NaN    teatea     1.0     1.0     1.0     1.0     1.0

     202309  202310  202311  202312  202401  202402  202403  202404
0       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1       2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
2       3.0     3.0     3.0     3.0     3.0     3.0     3.0     3.0
3       4.0     4.0     4.0     4.0     4.0     4.0     4.0     4.0
4       5.0     5.0     5.0     5.0     5.0     5.0     5.0     5.0
..      ...     ...     ...     ...     ...     ...     ...     ...
126     4.0     4.0     4.0     4.0     4.0     4.0     4.0     4.0
127     5.0     5.0     5.0     5.0     5.0     5.0     5.0     5.0
128     3.0     3.0     3.0     3.0     3.0     3.0     3.0     3.0
129     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
130     1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0

[131 rows x 17 columns]

In [104]:
df = pd.read_excel(file_path, usecols="B,E:R")

print(df.head())

   Category      meas  202304  202305  202306  202307  202308  202309  202310  \
0    BUNDLE       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1  bundle 1  big test     2.0     2.0     2.0     2.0     2.0     2.0     2.0
2       NaN      fadd     3.0     3.0     3.0     3.0     3.0     3.0     3.0
3       NaN      gdag     4.0     4.0     4.0     4.0     4.0     4.0     4.0
4       NaN      test     5.0     5.0     5.0     5.0     5.0     5.0     5.0

   202311  202312  202401  202402  202403  202404
0     NaN     NaN     NaN     NaN     NaN     NaN
1     2.0     2.0     2.0     2.0     2.0     2.0
2     3.0     3.0     3.0     3.0     3.0     3.0
3     4.0     4.0     4.0     4.0     4.0     4.0
4     5.0     5.0     5.0     5.0     5.0     5.0

In [105]:
df = pd.read_excel(file_path, usecols="B,E:R")

df = df.iloc[1:]

print(df.head())

   Category      meas  202304  202305  202306  202307  202308  202309  202310  \
1  bundle 1  big test     2.0     2.0     2.0     2.0     2.0     2.0     2.0
2       NaN      fadd     3.0     3.0     3.0     3.0     3.0     3.0     3.0
3       NaN      gdag     4.0     4.0     4.0     4.0     4.0     4.0     4.0
4       NaN      test     5.0     5.0     5.0     5.0     5.0     5.0     5.0
5       NaN      test     6.0     6.0     6.0     6.0     6.0     6.0     6.0

   202311  202312  202401  202402  202403  202404
1     2.0     2.0     2.0     2.0     2.0     2.0
2     3.0     3.0     3.0     3.0     3.0     3.0
3     4.0     4.0     4.0     4.0     4.0     4.0
4     5.0     5.0     5.0     5.0     5.0     5.0
5     6.0     6.0     6.0     6.0     6.0     6.0

In [107]:
df = pd.read_excel(file_path)

df = df.iloc[1:,1:]

print(df.columns)

#print(df.head())

#df = df.iloc[:, [0, 3, [5:]]]

#df = df[['Category', 'meas', 202304]]

print(df.head())

Index(['Category',     'COl1',     'COL2',     'meas',     202304,     202305,
           202306,     202307,     202308,     202309,     202310,     202311,
           202312,     202401,     202402,     202403,     202404],
      dtype='object')
   Category  COl1 COL2      meas  202304  202305  202306  202307  202308  \
1  bundle 1   NaN  NaN  big test     2.0     2.0     2.0     2.0     2.0
2       NaN  Test    $      fadd     3.0     3.0     3.0     3.0     3.0
3       NaN  Test    $      gdag     4.0     4.0     4.0     4.0     4.0
4       NaN   NaN  NaN      test     5.0     5.0     5.0     5.0     5.0
5       NaN   NaN  NaN      test     6.0     6.0     6.0     6.0     6.0

   202309  202310  202311  202312  202401  202402  202403  202404
1     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
2     3.0     3.0     3.0     3.0     3.0     3.0     3.0     3.0
3     4.0     4.0     4.0     4.0     4.0     4.0     4.0     4.0
4     5.0     5.0     5.0     5.0     5.0     5.0     5.0     5.0
5     6.0     6.0     6.0     6.0     6.0     6.0     6.0     6.0

In [108]:
df = df.drop(df.columns[1:3], axis=1)

#df['Category'].fillna(method='ffill', inplace=True)
df['Category'] = df['Category'].ffill()

print(df.head())

   Category      meas  202304  202305  202306  202307  202308  202309  202310  \
1  bundle 1  big test     2.0     2.0     2.0     2.0     2.0     2.0     2.0
2  bundle 1      fadd     3.0     3.0     3.0     3.0     3.0     3.0     3.0
3  bundle 1      gdag     4.0     4.0     4.0     4.0     4.0     4.0     4.0
4  bundle 1      test     5.0     5.0     5.0     5.0     5.0     5.0     5.0
5  bundle 1      test     6.0     6.0     6.0     6.0     6.0     6.0     6.0

   202311  202312  202401  202402  202403  202404
1     2.0     2.0     2.0     2.0     2.0     2.0
2     3.0     3.0     3.0     3.0     3.0     3.0
3     4.0     4.0     4.0     4.0     4.0     4.0
4     5.0     5.0     5.0     5.0     5.0     5.0
5     6.0     6.0     6.0     6.0     6.0     6.0

In [109]:
matches = df[df['meas'] == 'Imp field']

print(matches)

     Category       meas  202304  202305  202306  202307  202308  202309  \
12   bundle 1  Imp field    13.0    13.0    13.0    13.0    13.0    13.0
34   bundle 2  Imp field    13.0    13.0    13.0    13.0    13.0    13.0
56   bundle 3  Imp field    13.0    13.0    13.0    13.0    13.0    13.0
78   bundle 4  Imp field    13.0    13.0    13.0    13.0    13.0    13.0
100  bundle 5  Imp field    13.0    13.0    13.0    13.0    13.0    13.0
122  bundle 6  Imp field    13.0    13.0    13.0    13.0    13.0    13.0

     202310  202311  202312  202401  202402  202403  202404
12     13.0    13.0    13.0    13.0    13.0    13.0    13.0
34     13.0    13.0    13.0    13.0    13.0    13.0    13.0
56     13.0    13.0    13.0    13.0    13.0    13.0    13.0
78     13.0    13.0    13.0    13.0    13.0    13.0    13.0
100    13.0    13.0    13.0    13.0    13.0    13.0    13.0
122    13.0    13.0    13.0    13.0    13.0    13.0    13.0